	<div class="product" href="#">
    <div class="product-image">
      <img [src]="product.imageUrl" />
    </div>
    <div class="product-content">
      <h2 class="product-title"> {{ product.name }} </h2>
      <div class="product-info">
        <span class="product-price">$ {{ product.price }}</span>
      </div>
      <div class="product-action-bar">
        <button mat-raised-button>
          <mat-icon class="mat-18">add_shopping_cart</mat-icon>
        </button>
         <button mat-raised-button>
          <mat-icon class="mat-18">favorite_border</mat-icon>
        </button>
         <button mat-raised-button>
          <mat-icon class="mat-18">help_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
