.mainNavbar{
  background-color: var(--themeDefault);
  &__upperRow{
    align-items: center;
    background-color: var(--primaryDark);
    display: flex;
    height: 64px;
    &--widgetsLeft{
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      width: 30%;
    }
  }

  &__widgetButton a{
    align-items: center;
    display: flex;
    color: var(--textColor);
    cursor: pointer;
    font-size: 13px;
    transition: all .4s ease-in-out;
    & .mat-icon{
      margin-right: 10px;
    }

    &:hover{
      color: var(--textColor-alt);
    }
  }
}

.middleNavbar{
  display: flex;
  height: 90px;
  &__logoContainer{
    &, a{
      height: 100%;
    }

    img{
      height: 90px;
      width: 125px;
    }
  }

  &__form{
    box-sizing: border-box;
    flex: 1 1 0%;

    &--Wrapper{
      margin: 0 auto;
      padding: 13px 0;
      width: 80%;

      input {
        border: 1px var(--white);
        border-radius: 3px 0 0 3px;
        box-shadow: none;
        height: 40px;
        outline: none;
        padding: 0 0 0 12px;
        width: calc(100% - 137px);
      }

      button {
        background-color: var(--altDark);
        border: 0;
        border-radius: 0 3px 3px 0;
        box-shadow: none;
        color: var(--white);
        cursor: pointer;
        height: 41px;
        padding: 0 35px;
        text-transform: uppercase;
        text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
        -webkit-appearance: none;
      }
    }
  }

  &__info{
    display: flex;
    margin-left: 20px;
    margin-right: 50px;
    &--icon{
      height: 40px;
      margin-top: auto;
      margin-bottom: auto;
    }
    &--text{
      display: flex;
      flex-direction: column;
      & span:first-child{
        font-size: 12px;
      }
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__cartButton{
    margin-left: auto;
    position: relative;
    &--total{
      background-color: var(--primaryDark);
      position: absolute;
      top: -4px;
      left: -7px;
      height: 18px;
      width: 18px;
      line-height: 18px;
      border-radius: 50%;
      font-size: 10px;
      display: grid;
      place-items: center;
    }
  }
}

.lowerNavbar{
  background-color: var(--lightBackground);
}
